* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #939496;
  padding: 2rem;
}

.title {
  padding: 2rem 1.8rem;
}

#canvas {
  background-color: #ececec;
  border: .1rem dashed red;
}